<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp99247C6A6F0A18B370DAAFB2F981E0B9" Guid="{1C8A917F-21E6-45D1-8C2E-0BD01DAFD2A2}">
                <File Id="fil4238F3A82192B8AAB8622C35359687E3" KeyPath="yes" Source="$(var.BuildLocation)\AMS.JiraServicedesk.dll" />
            </Component>
            <Component Id="cmp93555998B9C995AAA6A289F67ED9431E" Guid="{147A78C9-AE12-41E7-92E8-0AC8F1D72CB9}">
                <File Id="fil8ABB888A719FEE887A8F7E1B28A2FDE6" KeyPath="yes" Source="$(var.BuildLocation)\AMS.JiraServicedesk.dll.config" />
            </Component>
            <Component Id="cmpB8EF15B3D8B50C1FBF36A56F934D3A56" Guid="{34FB6F1D-CFA6-49B9-9B78-AD0E653B54D2}">
                <File Id="fil909A0DEE86EC3A42F183027743225802" KeyPath="yes" Source="$(var.BuildLocation)\AMS.JiraServicedesk.pdb" />
            </Component>
            <Component Id="cmpC41F81ADDD5C94AEE114FA8719EF2D64" Guid="{CF5A03D8-5ECC-4CF3-80FF-FAFFE6530DA1}">
                <File Id="filFACA64A276CD48072A5936C32C1DDC9C" KeyPath="yes" Source="$(var.BuildLocation)\AMS.PageSpeed.dll" />
            </Component>
            <Component Id="cmp52F6086CF47FB67154E88A4355434A35" Guid="{9022B80F-C79E-4EE8-B316-D859057DEB25}">
                <File Id="fil89FB5E109B80526A99EC4C7C16AE681F" KeyPath="yes" Source="$(var.BuildLocation)\AMS.PageSpeed.pdb" />
            </Component>
            <Component Id="cmpD7BED5B8AE71FCD214A9154DB8FE6BD7" Guid="{8DDDB0BE-3277-4DB6-90A4-74BD59393CAA}">
                <File Id="filC4C3029516BA0DAEEFDDEA9B4C5EBE46" KeyPath="yes" Source="$(var.BuildLocation)\AMS.Pingdom.Client.dll" />
            </Component>
            <Component Id="cmpF02ECAD0DEEA28F3D9255BB21E2A9BFE" Guid="{1677B832-E767-42C4-ACC4-CD8985352FBE}">
                <File Id="fil51FF54E2D02532D306AD9E3E6C31586E" KeyPath="yes" Source="$(var.BuildLocation)\AMS.Pingdom.Client.pdb" />
            </Component>
            <Component Id="cmp2BF7C09B11FF66CF6BAB1841FFBF8A42" Guid="{C93EEC9F-9688-483E-87D7-D8866AA3C3D6}">
                <File Id="fil26A5ACFF14D31640A86B305C82F4FD09" KeyPath="yes" Source="$(var.BuildLocation)\AMS.ReportAutomation.Common.dll" />
            </Component>
            <Component Id="cmp4A6ABE70DAD9F6E5D15461ECBDFFB86B" Guid="{76CAB1BA-377B-4412-88E6-34C327F6FBEF}">
                <File Id="fil0981F6FB119C312651DAB6DE43DC4BB6" KeyPath="yes" Source="$(var.BuildLocation)\AMS.ReportAutomation.Common.dll.config" />
            </Component>
            <Component Id="cmp4E70E5BE4401CEAA55EFC231B1D64DD3" Guid="{CE07910F-129A-4993-99BD-0AB00442FD7F}">
                <File Id="fil259E06738FF2882E3A40D69DC988B897" KeyPath="yes" Source="$(var.BuildLocation)\AMS.ReportAutomation.Common.pdb" />
            </Component>
            <Component Id="cmp980B74261FEC204FAB51F765E4EFE6D2" Guid="{AABEA460-8748-4D66-B39D-A7EA79CBB7F5}">
                <File Id="fil00781145339B852374885DE7906BF3A5" KeyPath="yes" Source="$(var.BuildLocation)\AMS.ReportAutomation.Crawler.exe" />
            </Component>
            <Component Id="cmpE91D299CD2E5F2335665254E87DBBAEF" Guid="{006C3B6C-B802-4358-A28A-98B1E004C2E2}">
                <File Id="fil95657C3CEE6AEB41F655EAF77D5C40D6" KeyPath="yes" Source="$(var.BuildLocation)\AMS.ReportAutomation.Crawler.exe.config" />
            </Component>
            <Component Id="cmp2649B6CC7E47D900A2092FFC336FF6ED" Guid="{8ED4C9FD-64D7-4660-A6F8-316C4C1D0F1D}">
                <File Id="fil9FB3078C2BC637B0821959518D65D22E" KeyPath="yes" Source="$(var.BuildLocation)\AMS.ReportAutomation.Crawler.InstallLog" />
            </Component>
            <Component Id="cmp04B7EF2897C018448283438E94B431B1" Guid="{4237C2B4-1CB4-4D3F-B6D4-634EE090E8F3}">
                <File Id="fil74DC7FA5C162F7133F96DCC16D5F4998" KeyPath="yes" Source="$(var.BuildLocation)\AMS.ReportAutomation.Crawler.pdb" />
            </Component>
            <Component Id="cmpB36A9A835748D242CCB4210878AB625D" Guid="{44FED8E6-841E-419C-B48A-578A1C526C94}">
                <File Id="fil6FD9128B5881C17718B11CF94B00B2C5" KeyPath="yes" Source="$(var.BuildLocation)\AMS.ReportAutomation.Data.dll" />
            </Component>
            <Component Id="cmp98FBFE6098956B1C37D8F8EFED3DBB4C" Guid="{A44C4CC9-63DA-402A-941D-A9AA0DFF8F22}">
                <File Id="filF2882876464C0FB49E440B295983CA6A" KeyPath="yes" Source="$(var.BuildLocation)\AMS.ReportAutomation.Data.dll.config" />
            </Component>
            <Component Id="cmpD2EAB37915E87049D76B046944C20BE9" Guid="{4C2CB136-4732-4FF7-9A93-557420D1C118}">
                <File Id="filEFDF4967B67940339D2E21D50D8C98D6" KeyPath="yes" Source="$(var.BuildLocation)\AMS.ReportAutomation.Data.pdb" />
            </Component>
            <Component Id="cmpC57A874A144125B6F70C7F4269029478" Guid="{CB91C3EC-770E-4493-AD77-EAB489D4A783}">
                <File Id="fil75ABAB8188279FE9BD26FE211CFE56DF" KeyPath="yes" Source="$(var.BuildLocation)\AMS.ReportAutomation.ReportData.dll" />
            </Component>
            <Component Id="cmpAFD7AAE9C5CC9551809D848A5561DA12" Guid="{7ECB4F83-AAEF-404F-9CBE-AA0499E902C4}">
                <File Id="fil64AE09334D46A5F8C5641E9E2F41BFE5" KeyPath="yes" Source="$(var.BuildLocation)\AMS.ReportAutomation.ReportData.pdb" />
            </Component>
            <Component Id="cmpDA27922DC39ABEE4AED51766786E4CFD" Guid="{88BE4919-D90E-491C-8C86-B332A7491037}">
                <File Id="fil35A245A4D0EADE39BA1ACE4C3747CE4D" KeyPath="yes" Source="$(var.BuildLocation)\Autofac.dll" />
            </Component>
            <Component Id="cmp635B17CF3B5A02FF79F4D24FD842BC06" Guid="{77841113-1337-4E03-B856-F6E3B391BEC9}">
                <File Id="fil7342C5C8F1A2218EBC5F97E52AB3EFBC" KeyPath="yes" Source="$(var.BuildLocation)\Autofac.Extras.Quartz.dll" />
            </Component>
            <Component Id="cmp39FAEA6563DCF4C42C04F5B08D7C5223" Guid="{8264CBA1-C04B-45A4-B9B0-B928320EA235}">
                <File Id="fil45A96172D7E3D52F0DF49115570BDD66" KeyPath="yes" Source="$(var.BuildLocation)\Autofac.Extras.Quartz.pdb" />
            </Component>
            <Component Id="cmpF1D7D9577D1A0289718FA9152AE7BE80" Guid="{CDEF0ADA-758F-43D4-B8B0-5F8436DAC2D5}">
                <File Id="fil7727C926708833BA25B011E4A382AEEC" KeyPath="yes" Source="$(var.BuildLocation)\Autofac.Extras.Quartz.xml" />
            </Component>
            <Component Id="cmp95CFF8893219CD86DC5B2FA2CEE33666" Guid="{4FA57E66-1BF2-40DE-A7C9-24FDBD5FD177}">
                <File Id="filA3670E27CAD4378D94A4EDE5E1C8B3D8" KeyPath="yes" Source="$(var.BuildLocation)\Autofac.pdb" />
            </Component>
            <Component Id="cmp0954EE0015DF324C3FF12053B6FF3978" Guid="{58F685B1-94F0-4237-8C6D-B792A605A26D}">
                <File Id="fil2B2CBB5D5A9C28A27E3D0000994ED581" KeyPath="yes" Source="$(var.BuildLocation)\Autofac.xml" />
            </Component>
            <Component Id="cmpC9CB620E0DB9386EEB2D19353F4065F6" Guid="{A433F697-479D-48A9-B437-F56CAC94983E}">
                <File Id="fil95CDAD0FA62567C7ABA839237D573690" KeyPath="yes" Source="$(var.BuildLocation)\AutofacSerilogIntegration.dll" />
            </Component>
            <Component Id="cmp71BB459EBAB00ABF0DADEB30F80D92F7" Guid="{58DE3C37-C9DA-40CA-95D4-9419A8B90D3D}">
                <File Id="fil2A4B1157A560A1205AAE6F0DBEBF88E1" KeyPath="yes" Source="$(var.BuildLocation)\EntityFramework.BulkInsert.dll" />
            </Component>
            <Component Id="cmpB69339BC970C183770046D830B3301D7" Guid="{0A9578AD-435F-4EBD-AF03-DBB5ACF60719}">
                <File Id="filEF065C09297E7731A8CB0192D0F6DF57" KeyPath="yes" Source="$(var.BuildLocation)\EntityFramework.BulkInsert.dll.config" />
            </Component>
            <Component Id="cmp0BFABD100B4065787B40AA6B05938DF7" Guid="{B3ACB2E0-DD8E-4220-BB80-D7CECE15FEDC}">
                <File Id="fil1D38723F4A034EDE78B6A3B94EFB99F2" KeyPath="yes" Source="$(var.BuildLocation)\EntityFramework.dll" />
            </Component>
            <Component Id="cmpB8E7B130B6B78399B39307530A3D65B2" Guid="{5E04CA5A-6C37-49D7-B6A4-40F717369A21}">
                <File Id="fil55247FAD2E00E96001D9F9C3E501E9FA" KeyPath="yes" Source="$(var.BuildLocation)\EntityFramework.SqlServer.dll" />
            </Component>
            <Component Id="cmp0FB966002F85AF6212B7AD3DB5E1B405" Guid="{707C73A3-2C0D-4584-A3C2-02FEB6FC2E96}">
                <File Id="fil3CA52A37FA9A6E996CBB782A0218A667" KeyPath="yes" Source="$(var.BuildLocation)\EntityFramework.SqlServer.xml" />
            </Component>
            <Component Id="cmpC85EDAFAB0FBFCB276A4A98C7970D15B" Guid="{D42FF313-6AE4-4EB9-A6DA-E508F47EBA4B}">
                <File Id="filA6CEF64B08A50A3CA6762514743216AC" KeyPath="yes" Source="$(var.BuildLocation)\EntityFramework.Utilities.dll" />
            </Component>
            <Component Id="cmp6CF5CB56E3583D0EBD44D2BB10A62A27" Guid="{E7D6A49B-266B-4266-B4A7-C51B718745C3}">
                <File Id="filD3369B082D009ADB833B8DD9F589E45E" KeyPath="yes" Source="$(var.BuildLocation)\EntityFramework.xml" />
            </Component>
            <Component Id="cmp20E5A82EE1F53BB560782568696E50EF" Guid="{2EB5AC67-9BCE-4BF6-BD21-3D01D99B31DB}">
                <File Id="fil2E537F5E44EFF72FBE1AF325D6F073A2" KeyPath="yes" Source="$(var.BuildLocation)\Microsoft.Bcl.AsyncInterfaces.dll" />
            </Component>
            <Component Id="cmp7193E8625499A1E57AB8F6FB639AF77E" Guid="{CED6CD52-932C-4E2D-806F-4A10499801E1}">
                <File Id="fil8ADF3549A0666A0BC8FAB94FCFB6061B" KeyPath="yes" Source="$(var.BuildLocation)\Microsoft.Bcl.AsyncInterfaces.xml" />
            </Component>
            <Component Id="cmp75E1D360F7F3BEA782095608B95EAF01" Guid="{3F9AC820-9BBA-4180-9A9B-B2AA7F287D42}">
                <File Id="filB2EC777A0DF3BC93E22F83FF2D6AA439" KeyPath="yes" Source="$(var.BuildLocation)\Microsoft.Extensions.Caching.Abstractions.dll" />
            </Component>
            <Component Id="cmp9DD5B95B857DBEFCF97CCD4EADA4F725" Guid="{CC94F554-CE02-45C8-B2A5-B3B6C82E8849}">
                <File Id="fil779BA9798435E9859FA3BA769B6DC8F9" KeyPath="yes" Source="$(var.BuildLocation)\Microsoft.Extensions.Caching.Abstractions.xml" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Guid="{38CBC9F6-AB9A-41D3-B0BA-48C4CAD22D05}">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.BuildLocation)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp125C379E185231EFADA4CB4301BD0A9E" Guid="{5F26CAD7-4DBB-42F0-BDD6-B23D42596053}">
                <File Id="fil3A2F44A7730E98D18E0948B3261DFABD" KeyPath="yes" Source="$(var.BuildLocation)\Newtonsoft.Json.xml" />
            </Component>
            <Component Id="cmpD517F7C9A14FC3AEBE634F9A4A88EE7D" Guid="{37228A5B-3C01-423A-A3A4-74C2BC0B48C2}">
                <File Id="fil8EC1160AE2E764768CF07EE21BD1DEF2" KeyPath="yes" Source="$(var.BuildLocation)\Quartz.dll" />
            </Component>
            <Component Id="cmpE4435556510B2BF3780358801912D1EC" Guid="{132F492A-906E-4E33-A558-CAEE71EA7520}">
                <File Id="fil2159116079051CC0E10A156F5FCFF9C1" KeyPath="yes" Source="$(var.BuildLocation)\Quartz.Jobs.dll" />
            </Component>
            <Component Id="cmp27C259C0E7FA5C3315E52679F690967C" Guid="{291E9216-BD98-41C0-A466-DD91531DF6D8}">
                <File Id="fil7275FC7B247B39E5C69EE03AE191C12C" KeyPath="yes" Source="$(var.BuildLocation)\Quartz.Jobs.xml" />
            </Component>
            <Component Id="cmp92A65D8665A4B0D7627ECEF33E12EF9C" Guid="{8BF6341A-BFAD-4B8B-BB1C-3E13B966F599}">
                <File Id="filB7A04EFE0C33008F139D603725C691AA" KeyPath="yes" Source="$(var.BuildLocation)\Quartz.xml" />
            </Component>
            <Component Id="cmp74A2C73F11C177073B0A672936A0D5EB" Guid="{AE2F9D16-3269-42A4-A6C7-70F1FD87D673}">
                <File Id="fil1CF141D24266A4E5F331DDFE02166A27" KeyPath="yes" Source="$(var.BuildLocation)\Serilog.dll" />
            </Component>
            <Component Id="cmp49818C715FF04B8E95F7B53BDDD323EF" Guid="{B93EB081-AE43-423D-8A43-A6C3E691E5C5}">
                <File Id="fil1A12B15365165DDBE60433B150808BEE" KeyPath="yes" Source="$(var.BuildLocation)\Serilog.Sinks.File.dll" />
            </Component>
            <Component Id="cmp1D3155C1D992D771CD1EE590B2BD51A5" Guid="{FE319D76-9BA9-4C3C-9D74-3B0CF7BCF23B}">
                <File Id="filB9A642D66D6A4CCA55F79EC84FE87BF1" KeyPath="yes" Source="$(var.BuildLocation)\Serilog.Sinks.File.pdb" />
            </Component>
            <Component Id="cmp52D2272AC38D5FE9CAB0CBB77B029DA0" Guid="{E97563A9-E183-450F-A44F-16E43D792479}">
                <File Id="fil0DC7050ECFDC3096C41CD76687A242A1" KeyPath="yes" Source="$(var.BuildLocation)\Serilog.Sinks.File.xml" />
            </Component>
            <Component Id="cmp5F1AA7FFD17911A668851FA15EE0CD1E" Guid="{FBB026A9-975E-46AC-8F1F-E46CD54AD602}">
                <File Id="fil6DF069D04BE2DE8E81DEBB4B1DE25568" KeyPath="yes" Source="$(var.BuildLocation)\Serilog.Sinks.RollingFile.dll" />
            </Component>
            <Component Id="cmp657FBC28D79B4821B7D5DA41904A55EF" Guid="{E257416E-DA2F-4A1F-BAE8-4BB3F62BE85C}">
                <File Id="fil0D5366FE663209633E37D83646E22007" KeyPath="yes" Source="$(var.BuildLocation)\Serilog.Sinks.RollingFile.xml" />
            </Component>
            <Component Id="cmp4933C7C5DA965376C36C85D0003C3545" Guid="{09D253FB-09B0-4906-8E1D-249BFE9FA2A2}">
                <File Id="fil1B552342F50162567C9342F21D85BFDC" KeyPath="yes" Source="$(var.BuildLocation)\Serilog.xml" />
            </Component>
            <Component Id="cmpA748C45814948C0E47F0962CF5A9E2C5" Guid="{9743ECA8-0EFB-47AC-8AE2-00DA41DDCEF9}">
                <File Id="filAF63FF48A59E0E5E7F49BFD1CBBB0CC3" KeyPath="yes" Source="$(var.BuildLocation)\System.Buffers.dll" />
            </Component>
            <Component Id="cmp43B367B7670D98D184AF521921EF1F06" Guid="{F49D4059-6ECE-42B5-AF19-102CF3EC80D7}">
                <File Id="fil847587E301997E5BCE3BEE66F570E914" KeyPath="yes" Source="$(var.BuildLocation)\System.Buffers.xml" />
            </Component>
            <Component Id="cmpE722E076AB8486E4A4F24B01268787A2" Guid="{A01854B9-465E-4114-B808-E7C1C48D6E98}">
                <File Id="fil92FE767CE7126933F4E9DEEEBAAE9354" KeyPath="yes" Source="$(var.BuildLocation)\System.Diagnostics.DiagnosticSource.dll" />
            </Component>
            <Component Id="cmp299758116F7BAC310E78738F4C506766" Guid="{E5ED4F3F-2622-4FAE-8AF4-CB2C19CF3364}">
                <File Id="fil660A99480C59BF3844A26EBA1559FEDA" KeyPath="yes" Source="$(var.BuildLocation)\System.Diagnostics.DiagnosticSource.xml" />
            </Component>
            <Component Id="cmp642ED5B0D0BD1F16347D1310992C55A0" Guid="{94835E51-116F-4824-89F0-79B0EC2544DD}">
                <File Id="filFA1D7EC932018D1CCB80F9F43D328009" KeyPath="yes" Source="$(var.BuildLocation)\System.Memory.dll" />
            </Component>
            <Component Id="cmpCA76CA3139BC1AFF84F4D7B62A0A2E50" Guid="{500791ED-8D65-48F6-BB53-7FCACDF61FBD}">
                <File Id="fil15AAA59830C5BBED182F2B20C24EED09" KeyPath="yes" Source="$(var.BuildLocation)\System.Memory.xml" />
            </Component>
            <Component Id="cmp89AE5ECEB789ECF60BE6CC568D60B2F9" Guid="{6DF9CED3-3420-47CE-A3BA-A673302DFC99}">
                <File Id="fil07CC506FCE6F39AF87379627460A5FFB" KeyPath="yes" Source="$(var.BuildLocation)\System.Numerics.Vectors.dll" />
            </Component>
            <Component Id="cmp7F4E1743772CD37619404A9AC36DC178" Guid="{FE57AA88-EB32-44CF-8F1B-69A3C5F36252}">
                <File Id="fil38F381E638DECC1D77506EC6574A8C81" KeyPath="yes" Source="$(var.BuildLocation)\System.Numerics.Vectors.xml" />
            </Component>
            <Component Id="cmpAFCF21A15F6EDA45A32D147050609285" Guid="{D4AD7163-F093-4154-A30A-0E8475F51DA4}">
                <File Id="filAE286E96EA00902BC284AEBF3030D6E4" KeyPath="yes" Source="$(var.BuildLocation)\System.Runtime.CompilerServices.Unsafe.dll" />
            </Component>
            <Component Id="cmpC91BFEFF501F5C69C8F325CE32921C40" Guid="{37026105-7C61-43C6-A14C-7DEFFA1AED3A}">
                <File Id="filB829C3862F1FEA164719D0F8015AAD50" KeyPath="yes" Source="$(var.BuildLocation)\System.Runtime.CompilerServices.Unsafe.xml" />
            </Component>
            <Component Id="cmpB3AE432D48BF3A5AB43C6DAF12AB454A" Guid="{3665EE83-02D9-4C1B-9927-FF6CFD05E751}">
                <File Id="filF7CF33617C2B93F6EEF50C0DEB533B07" KeyPath="yes" Source="$(var.BuildLocation)\System.Threading.Tasks.Extensions.dll" />
            </Component>
            <Component Id="cmp6D1BF809CBAFF13493F3C31E9CCBBD48" Guid="{29F81055-770C-48CB-AB59-62A1428E0C1D}">
                <File Id="fil5DCD112CC1157C7EB5EC973F77EBA411" KeyPath="yes" Source="$(var.BuildLocation)\System.Threading.Tasks.Extensions.xml" />
            </Component>
            <Component Id="cmp4D25964147B21CEA8533C0452FE3D300" Guid="{69A00AFE-0097-4ECD-9E35-6780EF7AB993}">
                <File Id="fil82B85968DCD6384E4880A6B9B04D4E33" KeyPath="yes" Source="$(var.BuildLocation)\Topshelf.Autofac.dll" />
            </Component>
            <Component Id="cmp7CDD66DA602D1BF1D98817E56A263BC2" Guid="{FFC1B601-708A-4A7C-9A74-CDFF9FD5651D}">
                <File Id="fil1944B2DB72DDBFA10FA06BC8F086BF56" KeyPath="yes" Source="$(var.BuildLocation)\Topshelf.dll" />
            </Component>
            <Component Id="cmp4C7D65D4E0E63B71569C48BC19C03944" Guid="{A0DCBB20-BFA8-49F4-9290-5727D2DC7EBD}">
                <File Id="fil0A0A1881BD63F70F25BB8AEE22BBD872" KeyPath="yes" Source="$(var.BuildLocation)\Topshelf.xml" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="WebGrp">
            <ComponentRef Id="cmp99247C6A6F0A18B370DAAFB2F981E0B9" />
            <ComponentRef Id="cmp93555998B9C995AAA6A289F67ED9431E" />
            <ComponentRef Id="cmpB8EF15B3D8B50C1FBF36A56F934D3A56" />
            <ComponentRef Id="cmpC41F81ADDD5C94AEE114FA8719EF2D64" />
            <ComponentRef Id="cmp52F6086CF47FB67154E88A4355434A35" />
            <ComponentRef Id="cmpD7BED5B8AE71FCD214A9154DB8FE6BD7" />
            <ComponentRef Id="cmpF02ECAD0DEEA28F3D9255BB21E2A9BFE" />
            <ComponentRef Id="cmp2BF7C09B11FF66CF6BAB1841FFBF8A42" />
            <ComponentRef Id="cmp4A6ABE70DAD9F6E5D15461ECBDFFB86B" />
            <ComponentRef Id="cmp4E70E5BE4401CEAA55EFC231B1D64DD3" />
            <ComponentRef Id="cmp980B74261FEC204FAB51F765E4EFE6D2" />
            <ComponentRef Id="cmpE91D299CD2E5F2335665254E87DBBAEF" />
            <ComponentRef Id="cmp2649B6CC7E47D900A2092FFC336FF6ED" />
            <ComponentRef Id="cmp04B7EF2897C018448283438E94B431B1" />
            <ComponentRef Id="cmpB36A9A835748D242CCB4210878AB625D" />
            <ComponentRef Id="cmp98FBFE6098956B1C37D8F8EFED3DBB4C" />
            <ComponentRef Id="cmpD2EAB37915E87049D76B046944C20BE9" />
            <ComponentRef Id="cmpC57A874A144125B6F70C7F4269029478" />
            <ComponentRef Id="cmpAFD7AAE9C5CC9551809D848A5561DA12" />
            <ComponentRef Id="cmpDA27922DC39ABEE4AED51766786E4CFD" />
            <ComponentRef Id="cmp635B17CF3B5A02FF79F4D24FD842BC06" />
            <ComponentRef Id="cmp39FAEA6563DCF4C42C04F5B08D7C5223" />
            <ComponentRef Id="cmpF1D7D9577D1A0289718FA9152AE7BE80" />
            <ComponentRef Id="cmp95CFF8893219CD86DC5B2FA2CEE33666" />
            <ComponentRef Id="cmp0954EE0015DF324C3FF12053B6FF3978" />
            <ComponentRef Id="cmpC9CB620E0DB9386EEB2D19353F4065F6" />
            <ComponentRef Id="cmp71BB459EBAB00ABF0DADEB30F80D92F7" />
            <ComponentRef Id="cmpB69339BC970C183770046D830B3301D7" />
            <ComponentRef Id="cmp0BFABD100B4065787B40AA6B05938DF7" />
            <ComponentRef Id="cmpB8E7B130B6B78399B39307530A3D65B2" />
            <ComponentRef Id="cmp0FB966002F85AF6212B7AD3DB5E1B405" />
            <ComponentRef Id="cmpC85EDAFAB0FBFCB276A4A98C7970D15B" />
            <ComponentRef Id="cmp6CF5CB56E3583D0EBD44D2BB10A62A27" />
            <ComponentRef Id="cmp20E5A82EE1F53BB560782568696E50EF" />
            <ComponentRef Id="cmp7193E8625499A1E57AB8F6FB639AF77E" />
            <ComponentRef Id="cmp75E1D360F7F3BEA782095608B95EAF01" />
            <ComponentRef Id="cmp9DD5B95B857DBEFCF97CCD4EADA4F725" />
            <ComponentRef Id="cmpBC4FC00A26E7D32479D42D3411317FC5" />
            <ComponentRef Id="cmp125C379E185231EFADA4CB4301BD0A9E" />
            <ComponentRef Id="cmpD517F7C9A14FC3AEBE634F9A4A88EE7D" />
            <ComponentRef Id="cmpE4435556510B2BF3780358801912D1EC" />
            <ComponentRef Id="cmp27C259C0E7FA5C3315E52679F690967C" />
            <ComponentRef Id="cmp92A65D8665A4B0D7627ECEF33E12EF9C" />
            <ComponentRef Id="cmp74A2C73F11C177073B0A672936A0D5EB" />
            <ComponentRef Id="cmp49818C715FF04B8E95F7B53BDDD323EF" />
            <ComponentRef Id="cmp1D3155C1D992D771CD1EE590B2BD51A5" />
            <ComponentRef Id="cmp52D2272AC38D5FE9CAB0CBB77B029DA0" />
            <ComponentRef Id="cmp5F1AA7FFD17911A668851FA15EE0CD1E" />
            <ComponentRef Id="cmp657FBC28D79B4821B7D5DA41904A55EF" />
            <ComponentRef Id="cmp4933C7C5DA965376C36C85D0003C3545" />
            <ComponentRef Id="cmpA748C45814948C0E47F0962CF5A9E2C5" />
            <ComponentRef Id="cmp43B367B7670D98D184AF521921EF1F06" />
            <ComponentRef Id="cmpE722E076AB8486E4A4F24B01268787A2" />
            <ComponentRef Id="cmp299758116F7BAC310E78738F4C506766" />
            <ComponentRef Id="cmp642ED5B0D0BD1F16347D1310992C55A0" />
            <ComponentRef Id="cmpCA76CA3139BC1AFF84F4D7B62A0A2E50" />
            <ComponentRef Id="cmp89AE5ECEB789ECF60BE6CC568D60B2F9" />
            <ComponentRef Id="cmp7F4E1743772CD37619404A9AC36DC178" />
            <ComponentRef Id="cmpAFCF21A15F6EDA45A32D147050609285" />
            <ComponentRef Id="cmpC91BFEFF501F5C69C8F325CE32921C40" />
            <ComponentRef Id="cmpB3AE432D48BF3A5AB43C6DAF12AB454A" />
            <ComponentRef Id="cmp6D1BF809CBAFF13493F3C31E9CCBBD48" />
            <ComponentRef Id="cmp4D25964147B21CEA8533C0452FE3D300" />
            <ComponentRef Id="cmp7CDD66DA602D1BF1D98817E56A263BC2" />
            <ComponentRef Id="cmp4C7D65D4E0E63B71569C48BC19C03944" />
        </ComponentGroup>
    </Fragment>
</Wix>